<div class="container">
    <form class="form mat-elevation-z24">
        <h1>Help Desk - Dicas de um DEV</h1>
        <img src="assets/img/img-login.jpg" alt="Help Desk - Discas de um DEV">
        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="exemplo@gmail">
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Senha</mat-label>
          <input type="password" matInput placeholder="Ex. 123">
        </mat-form-field>

        <button class="full-width mat-elevation-z4" mat-flat-button>Login</button>

      </form>
</div>
